@import '../../assets/stylesheets/variables.scss';

.background-city {
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  align-items     : center;
  font-family     : $roboto;
  text-align      : center;
}