@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$github-blue       : #4078c0;
$github-green      : #6cc644;
$github-red        : #bd2c00;
$github-orange     : #c9510c;
$github-purple     : #6e5494;
$github-whitish    : #fafafa;
$github-gray-light : #999;
$github-gray       : #767676;
$github-gray-dark  : #333;

$roboto  : 'Roboto', sans-serif;
$light   : 300;
$semi    : 600;
$bold    : 700;