---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hmorri32?client_id=<SUH_DUDE>&client_secret=<SUH_DUDE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1512606084'
      Etag:
      - W/"e8b1936a78cb48aa897375728bf26ac0"
      Last-Modified:
      - Tue, 05 Dec 2017 22:34:24 GMT
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '{"login":"hmorri32","id":20346065,"avatar_url":"https://avatars2.githubusercontent.com/u/20346065?v=4","gravatar_id":"","url":"https://api.github.com/users/hmorri32","html_url":"https://github.com/hmorri32","followers_url":"https://api.github.com/users/hmorri32/followers","following_url":"https://api.github.com/users/hmorri32/following{/other_user}","gists_url":"https://api.github.com/users/hmorri32/gists{/gist_id}","starred_url":"https://api.github.com/users/hmorri32/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hmorri32/subscriptions","organizations_url":"https://api.github.com/users/hmorri32/orgs","repos_url":"https://api.github.com/users/hmorri32/repos","events_url":"https://api.github.com/users/hmorri32/events{/privacy}","received_events_url":"https://api.github.com/users/hmorri32/received_events","type":"User","site_admin":false,"name":"Hugh
        Morrison","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":84,"public_gists":7,"followers":2,"following":0,"created_at":"2016-07-07T22:04:45Z","updated_at":"2017-12-05T22:34:24Z"}'
  recorded_at: Thu, 07 Dec 2017 00:19:19 GMT
recorded_with: VCR 4.0.0
